<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="CopyPasta" Language="1033" Version="1.0.0.0" Manufacturer="CopyPasta Team" UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="CopyPasta" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationRegistryEntries" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CopyPasta">
          <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="CopyPasta"
                      Description="Cross-device clipboard sharing"
                      Target="[INSTALLFOLDER]CopyPasta.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Directory="ProgramMenuFolder" />
            <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\CopyPasta" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
          <Component Id="ApplicationRegistryEntries" Guid="*">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
              <RegistryValue Name="CopyPasta" Type="string" Value="[INSTALLFOLDER]CopyPasta.exe" />
            </RegistryKey>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CopyPasta.exe" Guid="*">
        <File Id="CopyPastaExe" Source="$(var.CopyPasta.TargetPath)" />
      </Component>
    </ComponentGroup>

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  </Product>
</Wix>